.card-img {
    width: 70px;
    height: 70px;
    display: flex;

    justify-content: center;
    align-items: center;

    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #E72424;
    margin: 0 auto 30px;
}