.pricing-wrap {   
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    flex-wrap: wrap;
}
.pricing-card {
/*     margin: 0 39px 0 39px; */
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 340px;
}


.pricing-card-item-1 {
    background: #333333;
    color: #FFFFFF;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;

    margin-bottom: 2px;
}
.pricing-card-item-2 {
    color: #FFFFFF;
    background: #333333;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 100px;

    margin-bottom: 2px;   
}
.pricing-card-item-3 {
    color: rgba(255, 255, 255, 0.5);
    background: #333333;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 50px;

    margin-bottom: 4px;
}
.pricing-card-item-4 {
    color: #86878B;
    background: #FFFFFF;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;

    margin-bottom: 4px;
}